<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="23.6.0" targetFramework="net472" />
  <package id="OpenSSL.NativeRuntime.NET" version="1.0.21.1" targetFramework="net472" />
  <package id="OpenSSL.NETStandard" version="0.6.1" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net472" />
</packages>